.project {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  font-size: 13px;
  height: 700px;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
}

.project:hover {
  position: relative;
}

.desc {
  background: #2c98f0;
  bottom: 0;
  color: #fff;
  left: 0;
  opacity: 0;
  padding: 15px;
  position: absolute;
  right: 0;
  top: 0;
}

.project:hover .desc {
  opacity: 1;
}

@media screen and (min-width: 992px) {
  .project {
    font-size: 14px;
    height: 600px;
  }
}
