.project {
  font-size: 13px;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
}

.desc {
  background: #2c98f0;
  bottom: 0;
  color: #fff;
  left: 0;
  opacity: 0;
  padding: 15px;
  position: absolute;
  right: 0;
  top: 0;
}

.project:hover .desc {
  opacity: 1;
}

@media screen and (min-width: 992px) {
  .project {
    font-size: 15px;
  }
}

@media screen and (max-width: 993px) {
  .desc {
    height: 700px;
    z-index: 1;
  }
}

@media screen and (max-width: 768px) {
  .desc {
    height: 840px;
    z-index: 1;
  }
}
