.interest {
  margin-bottom: 1em;
  position: relative;

}

.interest_content {
  background-color: #012543;
  color: #fff;
  height: 100%;
  margin: 0 auto;
  opacity: 0.85;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
}

.interest_content h5, .interest_content p {
  margin-top: 10%;
}
