.SideBar_nav_panel__8XfXS .nav-item .nav-link.active {
  color:#2c98f0;
  font-weight: 500;
}

.wrapper_content {
  margin: 0 auto;
  width: 80%;
}

@media only screen and (max-width: 992px) {
  .wrapper_content {
    width: 100%;
  }
}