.SideBar_nav_panel__8XfXS .nav-item .nav-link.active {
  color: #2c98f0;
  font-weight: 500;
}

.wrapper_content {
  margin: 0 auto;
  width: 1170px;
}

.wrapper_section {
  margin-top: 100px;
  padding: 0 37px;
  position: relative;
}

@media screen and (max-width: 1170px) {
  .wrapper_content {
    width: 100%;
  }
}

.menu_icon {
  cursor: pointer;
  font-size: 25px;
  padding: 20px;
  position: fixed;
  z-index: 1;
}

.menu_icon:hover {
  font-size: 30px;
}

.heding_meta {
  color: #999999;
  display: block;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 15px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.heading_description {
  font-family: Playfair Display, -apple-system, BlinkMacSystemFont;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 1.8;
  margin-bottom: 3em;
  position: relative;
  text-transform: uppercase;
}

.animate_wrapper {
  box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #fff;
  margin-right: 150px;
  margin-bottom: 80px;
  padding: 22.5px;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .animate_wrapper {
    margin-right: 0;
  }
}

.SkillsSection_progress_wrap__Wos0l .progress {
  background: #f2f3f7;
  box-shadow: none;
  height: 6px;
  overflow: visible;
  -webkit-box-shadow: none;
}

.SkillsSection_progress_wrap__Wos0l .progress-bar {
  background: #2c98f0;
  border-radius: 8px;
  box-shadow: none;
  color: #000;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  overflow: visible;
  position: relative;
  text-align: right;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -webkit-box-shadow: none;
}

.SkillsSection_progress_wrap__Wos0l .progress-bar:after {
  background: #2c98f0;
  border-radius: 50%;
  content: "";
  height: 10px;
  position: absolute;
  right: 0;
  top: -2px;
  width: 10px;
}

.SkillsSection_progress_wrap__Wos0l .color-1 .progress-bar {
  background: #2c98f0;
}

.SkillsSection_progress_wrap__Wos0l .color-1 .progress-bar:after {
  background: #2c98f0;
}

.SkillsSection_progress_wrap__Wos0l span.color-1 {
  color: #2c98f0;
}

.SkillsSection_progress_wrap__Wos0l .color-2 .progress-bar {
  background: #ec5453;
}

.SkillsSection_progress_wrap__Wos0l .color-2 .progress-bar:after {
  background: #ec5453;
}

.SkillsSection_progress_wrap__Wos0l span.color-2 {
  color: #ec5453;
}

.SkillsSection_progress_wrap__Wos0l .color-3 .progress-bar {
  background: #f9bf3f;
}

.SkillsSection_progress_wrap__Wos0l .color-3 .progress-bar:after {
  background: #f9bf3f;
}

.SkillsSection_progress_wrap__Wos0l span.color-3 {
  color: #f9bf3f;
  right: 15%;
}

.SkillsSection_progress_wrap__Wos0l .color-4 .progress-bar {
  background: #a84cb8;
}

.SkillsSection_progress_wrap__Wos0l .color-4 .progress-bar:after {
  background: #a84cb8;
}

.SkillsSection_progress_wrap__Wos0l span.color-4 {
  color: #a84cb8;
  right: 20%;
}

.SkillsSection_progress_wrap__Wos0l .color-5 .progress-bar {
  background: #2fa499;
}

.SkillsSection_progress_wrap__Wos0l .color-5 .progress-bar:after {
  background: #2fa499;
}

.SkillsSection_progress_wrap__Wos0l span.color-5 {
  color: #2fa499;
}

.SkillsSection_progress_wrap__Wos0l .color-6 .progress-bar {
  background: #4054b2;
}

.SkillsSection_progress_wrap__Wos0l .color-6 .progress-bar:after {
  background: #4054b2;
}

.SkillsSection_progress_wrap__Wos0l span.color-6 {
  color: #4054b2;
}

.SkillsSection_progress_wrap__Wos0l .color-7 .progress-bar {
  background: #ff1ca7;
}

.SkillsSection_progress_wrap__Wos0l .color-7 .progress-bar:after {
  background: #ff1ca7;
}

.SkillsSection_progress_wrap__Wos0l span.color-7 {
  color: #ff1ca7;
  right: 5%;
}

.SkillsSection_progress_wrap__Wos0l .color-8 .progress-bar {
  background: #53ec54;
}

.SkillsSection_progress_wrap__Wos0l .color-8 .progress-bar:after {
  background: #53ec54;
}

.SkillsSection_progress_wrap__Wos0l span.color-8 {
  color: #53ec54;
  right: 10%;
}

.main {
  overflow: hidden;
  max-height: 100vh;
}

.main_scroll {
  overflow-y: scroll;
  max-height: 100vh;
}

.swiper {
  max-width: 640px;
}

@media screen and (max-width: 500px) {
  .swiper.swiper-initialized.swiper-horizontal .swiper-button-next {
    right: 1px;
  }

  .swiper.swiper-initialized.swiper-horizontal .swiper-button-next::after,
  .swiper.swiper-initialized.swiper-horizontal .swiper-button-prev::after {
    font-size: 30px;
  }

  .swiper.swiper-initialized.swiper-horizontal .swiper-button-prev {
    left: 1px;
  }
}
